{sub_dirs, ["apps/calculator", "rel", "deps"]}.
{cover_enabled, true}.
{erl_opts, [
  {parse_transform, lager_transform},
  debug_info
  %fail_on_warning
]}.
{deps, [
  {lager, "2.0.0", {git, "git@github.com:basho/lager.git", {tag, "e749242087706e480ecb530d99c5615e7e0dc7d6"}}},
  {ibrowse, ".*", {git, "git@github.com:inaka/ibrowse.git", {tag, "bd050fe160ddf777f0aa984f478a72ecec829d52"}}},
  {cowboy, "0.7.0", {git, "git@github.com:extend/cowboy.git", {tag, "ea7af4b72444890df8cafc624ecdf7e32f7a62cb"}}},
  {eper, "0.60", {git, "git@github.com:mhald/eper.git", {tag, "4bda88076827de6874d845a22cfb9e68bf7d8ade"}}},
  {jiffy, "0.7.*", {git, "git@github.com:davisp/jiffy.git", {tag, "ee788ca28f6642c2ca6005d4c65df1eced66b245"}}},
  {protobuffs, "0.8.0", {git, "git@github.com:basho/erlang_protobuffs.git", {tag, "839e441c194fb946b2a72df24252b377269169cb"}}},
  {lager_popcorn_backend, ".*", {git, "git@github.com:marccampbell/lager_popcorn_backend.git", "master" }}
]}.
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, deprecated_function_calls, deprecated_functions]}.
